---
layout: gallery
bodyclass: gallery
name: <%= name %>
title: <%= name %> | Galleries | Ian Byers Ceramics
index: <%= index %>
breadcrumb: |
  <header class="page-header">
      <h1><%= name %></h1>
      <ul class="breadcrumb" role="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/galleries/">Galleries</a></li>
        <li><%= name %></li>
      </ul>
  </header>
---
